// default tags
h1 {
  font-size: 2rem;
}
p,
input {
  font-size: 1.5rem;
}

a,
label,
li {
  font-size: 1.2rem;
}

//Text styles

.txt-xxlg,
.txt-xlg,
.txt-lg {
  margin-bottom: 1.8rem;
}

.txt-md,
.txt-sm,
.txt-xs {
  margin-bottom: 1.3rem;
}

.txt-xxlg {
  font-size: 6rem;
  line-height: 1.3;
}

.txt-xlg {
  font-size: 4rem;
  line-height: 1.3;
}

.txt-lg {
  font-size: 2.5rem;
  line-height: 1.25;
}

.txt-md {
  font-size: 2rem;
  line-height: 1.2;
}

.txt-sm {
  font-size: 1.5rem;
  line-height: 1.5;
}

.txt-xs {
  font-size: 1rem;
  line-height: 1;
}

//Buttons

.add-to-cart {
  i {
    padding-left: 0.5rem;
    color: $light-colour;
  }

  &:hover {
    i {
      transform: translateY(-4px);
    }
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  margin: 2rem 0rem;

  &.primary-btn {
    border-radius: 1.8rem;
  }

  &.sub-btn {
    border-radius: 1rem;
    padding: 0.8rem 2rem;
    margin: 0.4rem 0rem;
  }
  &.btn-log-in {
    font-size: 1.5rem;
  }

  &.btn-fb {
    font-size: 1.5rem;

    i {
      font-size: 2.2rem;
      padding: 0 1rem;
    }
  }

  &.btn-checkout {
    width: 20rem;
  }
}

// ----------------------------------- INDEX PAGE ---------------------------------
//header

.header {
  .navigation {
    height: 5rem;
    padding: 3rem 3rem 3.5rem 3rem;

    .nav__logo {
      padding: 0 2rem 0 4rem;
    }

    .nav__list li {
      &:hover {
        transform: translateY(-1px);
      }
    }
    .nav__list a {
      padding: 0 3rem;
    }

    .nav__icons {
      i {
        font-size: 1.8rem;
      }
      input {
        width: 18rem;
        height: 2.5rem;
        margin-right: 1rem;
      }
      a {
        padding: 0 0.7rem;
      }
    }
  }

  .landing-page {
    .intro {
      &-wrapper {
        padding-left: 10rem;

        a {
          margin: 1.8rem 0rem;
        }
      }
    }

    .intro-image {
      padding-left: 20rem;
      margin-top: 4.2rem;

      img {
        max-width: 55rem;
        max-height: 80rem;
      }
    }
  }
}

.products {
  padding-top: 0.8rem;

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;

    .card {
      &-img-wrapper > img {
        max-width: 63rem;
      }

      &-info {
        top: 0;
        left: 0;

        &-background {
          padding: 2rem 1rem 1rem 1.8rem;
        }
      }
    }
    //individual cards
    .card1 {
      grid-column: 1/2;
      grid-row: 1;
    }

    .card2 {
      grid-column: 2/3;
      grid-row: 1/3;
      grid-auto-rows: minmax(auto, 50rem);
      img {
        max-height: 85rem;
      }
    }

    .card3 {
      grid-column: 3;
      grid-row: 1;
    }

    .card4 {
      grid-column: 1/2;
      grid-row: 2;
    }

    .card5 {
      grid-column: 3;
      grid-row: 2;
    }
  }
  .see-all {
    height: 6rem;

    &:hover {
      transform: translateY(-3px);
    }
  }
  .arrow {
    border: 1px solid black;
    border-radius: 1.8rem;
    padding: 0.2rem 0.5rem;
    margin-left: 1rem;
  }
}

.exclusive {
  height: 70rem;

  &-img {
    width: 55%;

    img {
      width: 70%;
      margin-left: 30rem;
    }
  }

  &-description {
    width: 45%;

    padding-right: 20rem;
    p:nth-child(1) {
      margin-bottom: 0rem;
    }
    p:nth-child(3) {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
    a {
      margin-left: 0;
    }
  }
}

.shop {
  margin-top: 8rem;

  .shop__nav {
    height: 5rem;

    li {
      padding: 1rem 6rem;
    }
  }

  .shop-window {
    .buttons-wrapper {
      .buttons {
        i {
          font-size: 3rem;
          padding: 0.5rem 1rem;
          margin: 1rem 0.2rem;
          box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
        }
      }
    }

    .item-wrapper {
      width: 80%;

      .item {
        margin: 1rem;
        padding: 2rem 3rem;

        box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

        &-img-wrapper img {
          height: 25rem;
          width: 27rem;
        }
        &-info {
          p {
            padding-top: 1.3rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.magazine {
  width: 100%;
  height: 85rem;
  padding-top: 8rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
  &-intro {
    height: 15rem;
  }

  &-wrapper {
    width: 100%;

    .magazines {
      width: 30rem;

      &-img-wrapper {
        img {
          height: 33rem;
          width: 30rem;
        }
      }

      &-info {
        padding: 0rem 0.4rem 0 1.4rem;
        height: 18rem;
      }
    }
  }
}

.trend {
  width: 100%;
  &-wrapper {
    .trend-intro {
      letter-spacing: 1rem;
    }

    .trend-brands {
      margin-top: 0rem;

      img {
        height: 23rem;
        width: 23rem;
      }
    }
  }
}

.newsletter {
  height: 45rem;
  input {
    height: 6rem;
    width: 55rem;
    border-radius: 1rem;
    padding-left: 2rem;
  }
}

.contact {
  height: 33rem;
  border-bottom: 0.1px solid #eee;
  &-wrapper {
    padding-top: 5rem;
    width: 90%;

    a {
      line-height: 4rem;
      color: rgb(26, 25, 25);
    }

    .socials {
      ul {
        flex-wrap: wrap;
        width: 10rem;
        li {
          padding: 1rem 0.3rem 0rem 0.3rem;

          a {
            font-size: 2.5rem;
            letter-spacing: 1rem;

            i {
              transition: color 0.2s ease;
            }
          }
        }
      }
    }
  }
}

footer {
  .bottom-footer {
    padding: 1rem 2rem;
    p,
    a {
      font-size: 1.2rem;
    }
  }
}

// ------------------------ ACCOUNT PAGE ----------------------------

.account {
  width: 55%;
  margin-bottom: 4rem;
  .login__heading {
    margin-top: 5rem;
    font-size: 2rem;
    margin-left: 2.8rem;
  }

  &-wrapper {
    margin: 1rem 3rem;

    h1 {
      padding: 1.5rem 0;
      margin-bottom: 4rem;
    }

    label,
    .form__input,
    a,
    p {
      margin: 0 4rem;
    }

    .form__input {
      margin: 0 4rem 4rem 4rem;
      height: 3.5rem;
      padding: 0 0.7rem;
    }

    .log-in,
    .sign-up {
      flex-basis: 50%;
      margin-right: 5rem;

      a.forgot__pass {
        font-size: 1.2rem;
        margin-bottom: 4rem;
      }

      .remember {
        margin-bottom: 3.5rem;
      }

      p {
        font-size: 1.5rem;
        margin: 1.2rem 0;
      }

      a:last-child {
        margin-bottom: 3rem;
      }
    }

    .sign-up {
      p {
        padding: 0 2rem;
      }

      p:nth-child(2) {
        margin-bottom: 3rem;
      }

      p:nth-child(6) {
        margin-top: 3rem;
      }
    }
  }
}

// ------------------------ PRODUCTS PAGE ----------------------------
.products_preview_page {
  width: 80%;

  .product-img {
    margin-top: 2rem;
    margin-bottom: 5rem;
    flex-basis: 40%;
    &-wrapper {
      img {
        height: 80rem;
        width: 65rem;
      }
    }
  }

  .products_info_area {
    flex-basis: 60%;
    height: 100%;
    margin-left: 3rem;
    padding-right: 35rem;

    h1 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }

    p:nth-child(3) {
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
    p:nth-child(4) {
      font-size: 2.5rem;
      margin-bottom: 4rem;
    }
    p:nth-child(5) {
      margin-bottom: 0.5rem;
    }

    .sizes_selector {
      button {
        margin: 1rem 0.5rem;
        border-radius: 100%;
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
      }
    }

    .img-previews {
      img {
        height: 8rem;
        width: 8rem;
        margin: 1rem 1rem;
      }
    }
  }
}

// ------------------------ SHOPPING CART PAGE ----------------------------

.checkout {
  display: grid;
  grid-template-columns: 5fr 1fr;

  .checkout-wrapper {
    margin: 4rem 4rem 4rem 10rem;

    .checkout-intro {
      padding: 1.4rem 1.4rem;
    }
    .checkout-item {
      display: grid;
      grid-template-columns: 1fr 8fr;
      margin: 2rem 1rem;

      &-img {
        img {
          height: 15rem;
          width: 15rem;
        }
      }
      &-info {
        margin-left: 2rem;

        h1 {
          font-size: 1.7rem;
        }

        p {
          line-height: 2rem;
          margin-bottom: 1rem;

          &:nth-child(1) {
            font-size: 1.7rem;
          }

          &:nth-child(4) {
            font-size: 1.7rem;
          }
        }

        input {
          margin-bottom: 1.2rem;
        }

        a {
          padding: 0 1rem;
        }
      }
    }
  }
  .purchase {
    margin-right: 10rem;
    margin: 4rem 0rem;
    margin-right: 4rem;

    .total {
      padding: 7rem 3rem 3rem 3rem;

      h1 {
        margin-top: 3rem;
      }
      li {
        margin-top: 1.2rem;
      }

      p {
        font-size: 1.3rem;
      }
    }
    .purchase_item {
      padding: 0rem 3rem;
    }
  }
}
@import "mQueries";
