//colours
$main-colour: #e08f62;
$secondary-colour: #cc7351;
$dirty-white: #ded7b1d8;
$light-colour: #fff;
$dirty-green: #9dab869c;
$primary-text-colour: #000;
$fb-main-colour: #2d609b;
$fb-hover-colour: #527eda;
$border-colour: rgb(165, 164, 164);

//margins
$all-devices-min-width: 380px;

//shadows
$text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
$box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.4);
$secondary-box-shadow: 0rem 0.1rem 0rem rgba(0, 0, 0, 0.2);
